.Card {
    margin: auto;
    width: 34%;
    border: 2px solid grey;
    padding: 10px;
    overflow: auto;
}

.Footer {
    display: flex;
    padding-top: 5px;
}

.save-btn {
        flex: 1;
        padding-left: 10px;
}

 .submit-btn {
        padding-right: 10px;
 }
